.css-2hhz9b {
  font-family: iranSans !important;
}

/* DAYS */
.zm-DaysButton {
  color: #1d6fa5 !important; /* light blue */
}

.css-qmbtae {
  font-family: iranSans !important;
  color: #1d6fa5 !important;
}

.css-pw7rye {
  margin-right: -17px !important;
}

.css-1w8y7a2,
.css-13rhlsg {
  font-family: iranSans !important;
}

/* INPUT */
.calendere input {
  width: 150px !important;
  height: 35.5px !important;
  border-radius: 8px !important;
  padding-right: 1rem;
  font-family: iranSansLight !important;
  background-color: transparent !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
  border: 1px solid #5ab2e6;
}

.calendere input:focus-within {
  outline: 1px solid #5ab2e6;
}

/* BOLD INPUT */
#bold .calendere input {
  border: 1px solid #1a4f78;
}

#bold .calendere input:focus-within {
  outline: 1px solid #1a4f78;
}

/* HEADER */
.zm-Header {
  border-bottom: 0 !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
  background: url(../../assets/store-management/calender-background.png) center center no-repeat;
  background-size: cover;
}

.css-1m8qzkt {
  z-index: 100000;
}

/* MONTH YEAR */
.zm-MonthYearButton {
  color: #1d6fa5 !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
}

.zm-MonthYearButton:focus,
.zm-MonthYearButton:hover {
  background-color: #e3f3ff !important; /* very soft blue */
}

/* NAV BUTTONS */
.zm-IconPrevButton,
.zm-IconNextButton {
  color: #1d6fa5 !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
}

.zm-IconPrevButton:hover,
.zm-IconNextButton:hover {
  background-color: #e3f3ff !important;
}

.zm-IconPrevButton:focus,
.zm-IconNextButton:focus {
  background-color: transparent !important;
}

/* SELECTED DAY */
.css-15swk72[data-selected='true'] {
  color: white !important;
  background-color: #1d6fa5 !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
}

.css-15swk72:active {
  background-color: #1d6fa5 !important;
  color: white !important;
  border-width: 1px !important;
}

/* YEAR PICKER */
.zm-YearPickerButton {
  color: black !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
}

.zm-YearPickerButton:active {
  background-color: #1d6fa5 !important;
  color: white !important;
}

.zm-YearPickerButton[data-selected='true'] {
  background-color: #e3f3ff !important;
}

/* MONTH PICKER */
.zm-MonthPickerButton {
  color: black !important;
  transition: 300ms cubic-bezier(0.4,0,0.2,1) !important;
}

.zm-MonthPickerButton:active {
  background-color: #1d6fa5 !important;
  color: white !important;
}

.zm-MonthPickerButton[data-selected='true'] {
  background-color: #e3f3ff !important;
}

/* WEEKDAY ROW */
.css-11ydt2g {
  flex-direction: row-reverse !important;
  margin-right: 18px !important;
}

.css-sp254y {
  flex-direction: row-reverse !important;
  background-color: #e3f3ff !important;
  color: #1d6fa5 !important;
  margin-top: 0 !important;
}

/* MAIN CONTAINER BORDER */
.css-pzj3me {
  border-radius: 16px !important;
  border-width: 2px !important;
  border: 1px solid #1d6fa5 !important;
}
